<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="mx-3">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Material</th>
    </tr>
    <tr class="user-card" th:each="grave : ${graves}">
        <td class="border-solid border-2 border-sky-500" ><a th:text="${grave.name}"></a></td>
        <td class="border-solid border-2 border-sky-500" th:text="${grave.description}"></td>
        <td class="text-center border-solid border-2 border-sky-500" th:text="${grave.material}"></td>
        <td class="border-solid border-2 border-sky-500">
            <a th:href="@{/deleteGrave/{id}(id=${grave.graveId})}" onclick="return confirm('Вы уверены, что хотите удалить гроб?')">Удалить гроб</a>
        </td>
    </tr>
</table>
</body>
</html>