<div th:fragment="header">
    <div class="border-b-4 border-black p-10 mb-5 bg-gray-400">
        <header>
            <ul class="flex flex-row gap-10 font-semibold justify-between">
                <li>
                    <a th:href="@{/home}"  class="m-5 hover:bg-gray-500 rounded hover:text-white font-semibold text-3xl px-5" aria-current="page">Home</a>
                    <a th:href="@{/users}" class="m-5 hover:bg-gray-500 rounded hover:text-white font-semibold text-3xl px-5" aria-current="page" th:if="${user?.role?.name} == 'Admin'">Users</a>
                    <a th:href="@{/graveCreator}" class="m-5 hover:bg-gray-500 rounded hover:text-white font-semibold text-3xl px-5" aria-current="page">Create grave</a>
                    <a th:href="@{/graves}" class="m-5 hover:bg-gray-500 rounded hover:text-white font-semibold text-3xl px-5" aria-current="page">Graves</a>
                    <a th:href="@{/search}" class="m-5 hover:bg-gray-500 rounded hover:text-white font-semibold text-3xl px-5" aria-current="page">Search</a>
                </li>
                <li>
                    <a class="m-5 hover:bg-gray-500 rounded hover:text-white font-semibold text-3xl px-5" href="/logout">Logout</a>
                </li>
            </ul>
        </header>
    </div>
</div>